*{
    margin:0;
    padding:0;
}
body{
    margin:0;
}
#timeline{
    overflow-x:auto;
    overflow-y:hidden;
}
.axis line{
    fill:none;
    stroke:#000;
    shape-rendering:crispEdges;
}
.axis path{
    fill:none;
    stroke:#000;
    shape-rendering:crispEdges;
}
path.line{
    fill:none;
    stroke:#666;
    stroke-width:2px;
}
.marker line{
    stroke:#666;
    stroke-width:1px;
}
.marker .line-up{
    stroke-dasharray:1px;
}
.marker text{
    text-anchor:middle;
}
.word-cloud text{
    cursor:pointer;
}
#bookList{
    padding:10px;
}
.book-item .name, .book-item i{
    padding-right:1em;
}
.book-item{
    margin-bottom:1em;
}
.book-item p, .book-item ul{
    margin-bottom:0.6em;
}
ul.words{
    overflow:auto;
    list-style-type:none;
}
.words li{
    float:left;
    margin-right:0.6em;
    background-color:#ffbb78;
    color:#fff;
    border-radius:3px;
    font-size:0.8em;
    line-height:1em;
    padding:5px;
}
