*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    font-size:1em;
}
input,button,select{
    box-sizing:content-box;
    font-size:1em;
    line-height:1.2em;
    vertical-align:middle;
    padding:3px 6px;
    border:1px solid #ccc;
    background-color:#fff;
    border-radius:3px;
}
input[type=submit],button{
    background-color:#00ad9b;
    color:#fff;
    cursor:pointer;
}
ul{
    list-style-type:none;
}
.hidden {
    display: none !important;
}
#timeline{
    position:relative;
    border-bottom:1px solid #a8e9e2;
}
#timeline .toolbox{
    position:absolute;
    left:10px;
    top:10px;
}
#timeline .wrapper{
    width:100%;
    height:100%;
    overflow-x:auto;
    overflow-y:hidden;
}
.toolbox label{
    margin-right:1em;
}
.axis line{
    fill:none;
    stroke:#bbb;
    shape-rendering:crispEdges;
}
.axis path{
    fill:none;
    stroke:#bbb;
    shape-rendering:crispEdges;
}
.axis text{
    fill:#bbb;
    font-size:0.8em;
}
path.line{
    fill:none;
    stroke:#00ad9b;
    stroke-width:2px;
}
.marker line{
    stroke:#bbb;
    stroke-width:1px;
}
.marker .line-up{
    stroke-dasharray:1px;
}
.marker text{
    text-anchor:middle;
}
.marker .word{
    fill:#00ad9b;
    cursor:pointer;
}
.marker circle{
    stroke:#fff;
    stroke-width:1px;
}
.word-cloud text{
    cursor:pointer;
}
#bookList{
    padding:10px;
}
#bookList header{
    margin-bottom:30px;
}
.book-item a{
    text-decoration: none;
}
.book-item a .name{
    color: #00ad9b;
}
.book-item .name{
    font-size:1.2em;
}
.book-item i, .book-item .author{
    font-size:0.8em;
}
.book-item .name, .book-item i{
    padding-right:1em;
    color:#444;
}
.book-item .desc{
    color:#444;
}
.book-item{
    padding-bottom:1em;
    margin-bottom:1em;
    border-bottom:1px dotted #ff7f0e;
}
.book-item p, .book-item ul{
    margin-bottom:0.6em;
}
ul.words{
    overflow:auto;
}
.words li{
    float:left;
    margin-right:0.6em;
    background-color:#00ad9b;
    color:#fff;
    border-radius:3px;
    font-size:0.8em;
    line-height:1em;
    padding:5px;
    cursor:pointer;
}
.row .row-left{
    margin-top:20px;
    width:400px;
    float:left;
}
.row .row-right{
    margin-left:420px;
    min-height:400px;
    border-left:1px solid #a8e9e2;
}
.search input[type=text],.search select,.search label{
    margin-right:0.5em;
}
.search select{
    height:25px;
}
.pagination{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 10px 0;
    border-radius: 4px;
}
.pagination>li{
    display:inline;
}
.pagination>li>a,.pagination>li>span{
    position: relative;
    float: left;
    padding: 5px 10px;
    line-height: 1.42857143;
    margin-left: -1px;
    color: #00ad9b;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor:pointer;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #00ad9b;
    border-color: #00ad9b;
}
